name: import-intune-policy

on:
  push:
    branches: [ main ]
    paths:
      - "policies/*.json"

permissions:
  id-token: write
  contents: read

jobs:
  import:
    runs-on: ubuntu-latest
    environment: GraphApi

    steps:
      - uses: actions/checkout@v4
        with:
          ref: main
          persist-credentials: true

      # LOGIN TO AZURE
      - name: DEV Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          allow-no-subscriptions: true
          enable-AzPSSession: true

      - name: Import Policies
        shell: pwsh
        run: |
          $GraphTokenResponse = az account get-access-token --resource https://graph.microsoft.com
          $GraphToken = ($GraphTokenResponse | ConvertFrom-Json).accessToken
          $SecureToken = ConvertTo-SecureString $GraphToken -AsPlainText -Force
          Install-Module Microsoft.Graph.Authentication -Force -AllowClobber
          Install-Module Microsoft.Graph.Beta.DeviceManagement -Force -AllowClobber

          $files = Get-ChildItem "./policies/*.json"

          foreach ($file in $files) {

              $policy = Get-Content $file.FullName -Raw | ConvertFrom-Json

              # Check for existing policy
              $existing = Invoke-MgGraphRequest -Method GET -Uri "https://graph.microsoft.com/beta/deviceManagement/configurationPolicies?`$filter=name eq '$($policy.name)'"

              if ($existing.value.Count -lt 1) {
                  Write-Output "Creating $($policy.name)"
                  Invoke-MgGraphRequest -Method POST -Uri "https://graph.microsoft.com/beta/deviceManagement/configurationPolicies" -Body ($policy | ConvertTo-Json -Depth 100)
              }
          }
