name: wave1-assignment

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

env:
  TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
  CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
  DEV_GROUP_ID: ${{ secrets.WAVE1_GROUP_ID }}

jobs:
  assign-dev:
    runs-on: ubuntu-latest
    steps:

      - name: Install Graph
        shell: pwsh
        run: Install-Module Microsoft.Graph -Scope CurrentUser -Force

      - name: Assign Wave1
        shell: pwsh
        run: |
          Connect-MgGraph -TenantId $env:TENANT_ID -ClientId $env:CLIENT_ID -Identity

          $policies = Invoke-MgGraphRequest -Method GET -Uri "https://graph.microsoft.com/beta/deviceManagement/configurationPolicies"

          foreach ($policy in $policies.value) {

              $assignBody = @{
                  assignments = @(
                      @{
                          target = @{
                              "@odata.type" = "#microsoft.graph.groupAssignmentTarget"
                              groupId = $env:WAVE1_GROUP_ID
                          }
                      }
                  )
              }

              Invoke-MgGraphRequest -Method POST -Uri "https://graph.microsoft.com/beta/deviceManagement/configurationPolicies/$($policy.id)/assign" -Body ($assignBody | ConvertTo-Json -Depth 10)
          }
