name: wave1-assignment

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

env:
  DEV_GROUP_ID: ${{ secrets.WAVE1_GROUP_ID }}

jobs:
  assign-dev:
    runs-on: ubuntu-latest
    environment: GraphApi
    steps:

      # LOGIN TO AZURE
      - name: DEV Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          allow-no-subscriptions: true
          enable-AzPSSession: true

      - name: Assign Wave1
        shell: pwsh
        run: |
          $GraphTokenResponse = az account get-access-token --resource https://graph.microsoft.com
          $GraphToken = ($GraphTokenResponse | ConvertFrom-Json).accessToken
          $SecureToken = ConvertTo-SecureString $GraphToken -AsPlainText -Force
          Install-Module Microsoft.Graph.Authentication -Force -AllowClobber
          Install-Module Microsoft.Graph.Beta.DeviceManagement -Force -AllowClobber
          Connect-MgGraph -AccessToken $SecureToken

          $policies = Invoke-MgGraphRequest -Method GET -Uri "https://graph.microsoft.com/beta/deviceManagement/configurationPolicies"

          foreach ($policy in $policies.value) {

              $assignBody = @{
                  assignments = @(
                      @{
                          target = @{
                              "@odata.type" = "#microsoft.graph.groupAssignmentTarget"
                              groupId = $env:WAVE1_GROUP_ID
                          }
                      }
                  )
              }

              Invoke-MgGraphRequest -Method POST -Uri "https://graph.microsoft.com/beta/deviceManagement/configurationPolicies/$($policy.id)/assign" -Body ($assignBody | ConvertTo-Json -Depth 10)
          }
